body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: plum;
    padding: 10px;
}
.count{
    padding: 20px 40px;
    font-size: 50px;
    border: 1px solid blue;
    background-color: blueviolet;
}
.input::placeholder{
    color: black;
    text-align: center;
}
.input{
    min-width: 400px;
    min-height: 50px;
}
.btn{
    color: black;
    font-size: 15px;
    font-weight: 700;
    padding: 18px;
}
.vowels{
    border: 1px solid blue;
    min-width: 400px;
    min-height: 100px;
    padding: 5px;
}